{% extends "encyclopedia/layout.html" %}

{% block title %}
New page
{% endblock %}

{% block body %}
    <h1>New page</h1>

    <form method="POST">{% csrf_token %}
        <label for="title">Title</label><br><input name="title" placeholder="Title" type="text">
        <br><br>
        <label for="text">Content</label><br><textarea name="text" placeholder="Enter Markdown here" style="height: 100px;"></textarea>
        <br><br>
        <input type="submit" value="Create">
    </form>

{% endblock %}